.App {
  text-align: left;
  
}
.OuterContainer{
  display: grid;
  grid-template-columns: 25% 75%;
}
.FormContainer{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
input{
  border-radius: 5px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@media screen and (max-width: 1087px) {
  .switchbox {
    padding: 3rem; } }
    
.navbar{
  display: flex;
  justify-content: center;
  background-color: transparent;
}
.navbar-brand{
  flex: 1;
  justify-content: center;
}

.is-dark{
  flex: 1
}
a {
  transition: all 0.2s ease;
  transition-property: transform, opacity, color, border-color, background-color;
}
.columns{
  flex: 1
}

form{ 
  flex: 1;
}

.control{
  display: flex;
  margin: 1rem;
  align-items: center;
}

input[type=checkbox], input[type=radio] {
  vertical-align: baseline;
  size: 5rem;
  font-size: xx-large;
}
.checkbox{
  margin: auto;
}
label.checkbox{
  margin-left: 1rem;
}